@use "../custom" as *;

.auth-page {
  width: 100%;
  height: 100vh;
  background-color: $primary;
.auth-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-box {
    width: 100%;
    max-width: 845px;
    background-color: #ffffff;
    padding: 77px 77px;
    h1 {
      font-weight: 700;
      font-size: 62px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .form-group {
      position: relative;
      img {
        position: absolute;
        top: 15px;
        left: 18px;
        z-index: 1;
      }
      &::before {
        content: "";
        width: 70px;
        height: 59px;
        border-right: 2px solid #CDCDCD;
        background-color: #F1F6F6;
        position: absolute;
        top: 1.5px;
        left: 2px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
    .form-control {
      border: 2px solid #CDCDCD;
      height: 63px;
      background-color: #E2F0F2;
      font-size: 30px;
      color: #000000;
      font-weight: 300;
      padding-left: 90px;
    }
    .btn {
      display: block;
      width: 100%;
      height: 63px;
      color: #ffffff;
      font-size: 28px;
      font-weight: 600;
    }
  }
}
}