@use "../custom" as *;
.nav {
  &.nav-tabs {
    margin-bottom: 0 !important;
    .nav-link {
      border-radius: 0 !important;
      color: #7E7979 !important;
      &.active {
        background-color: #E9E4E4 !important;
        color: #B9B9B9 !important;
      }
    }
  }
}
.tab-content {
  padding: 15px  !important;
  
}